*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color:rgb(246, 246, 246);
    font-size: 22px;
    font-weight:200;
    text-align:justify;
 
}
/*
COLOUR PALLETTES
1
text rgb(246, 246, 246)
darker grey used for outside of boxes rgb(47,49,54)
lighter grey used for box insidessrgb(54, 57, 63)
footer colour rgb(32, 34, 37)
2
text rgb(246, 246, 246)
darker purple used for outside of boxes rgb(43, 8, 114)
lighter purple used for inside of boxes rgb(27, 20, 61)
footer colour rgb(5, 0, 25) 

*/
h1{
    font-size: 50px;
    font-weight: 600;
}

h3 {
    font-size: 40px;
    font-style: italic;
    text-decoration:underline;
    text-align:center;
}
.content-box {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding: 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 8, 114);
    flex: 40%;
    padding: 0% 1% 1% 0.5%;
}

.name-box {
    background-color: rgb(27, 20, 61);
    display: flex;
    justify-content: center;
    border-radius:15px;
    margin-top: 1em;    
    margin-bottom:1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-box {
    background-color: rgb(27, 20, 61);
    padding: 0.5em 2em 2em 2em;
    border-radius:15px;
    margin-bottom:5%;
}

.main-box {
    display: flex;
    flex-direction: column;
    flex: 0 100%;
    background-color: rgb(43, 8, 114);
    padding: 0 1% 1em 0;
}

.nav-bar{
    background-color: rgb(43, 8, 114);
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom:1em;
    margin-left:0;
    margin-right:0;
}

.nav-bar .header-buttons {
    margin: 0px;
    display: flex;
}

.nav-bar button{
    font-size: 50px;
    display: flex;
    border-radius:15x;
    cursor: pointer;
    background-color: rgb(27, 20, 61);
    border: 0;
    border-radius:15px;
    padding: 10px 26px 10px 26px ;
    

}

.text-body {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 20, 61);
    padding: 0.5em 2em 2em 2em;
    border-radius:15px;
}

.text-body li{
    list-style-type:square;
}

.footer{
    display: flex;
    justify-content: space-around;
    position:absolute;
    width: 100%;
    margin-top: 0em;
    background-color: rgb(32, 34, 37);
    padding-top: 8px;
    padding-bottom: 10px;
}